<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="screensaver.rsxs.lattice">
    <category id="general" label="30020">
      <group id="1">
        <setting id="general.type" type="integer" label="30010">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30011">0</option>
              <option label="30012">1</option>
              <option label="30013">2</option>
              <option label="30014">3</option>
              <option label="30015">4</option>
              <option label="30016">5</option>
              <option label="30017">6</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
        </setting>
      </group>
    </category>
    <category id="advanced" label="30021">
      <group id="2">
        <setting id="advanced.texture" type="integer" label="30030">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30031">0</option>
              <option label="30032">1</option>
              <option label="30033">2</option>
              <option label="30034">3</option>
              <option label="30035">4</option>
              <option label="30036">5</option>
              <option label="30037">6</option>
              <option label="30038">7</option>
              <option label="30039">8</option>
              <option label="30040">9</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.depth" type="integer" label="30001" >
          <default>5</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>8</maximum>
          </constraints>
          <control type="slider" format="integer"/>
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.fog" type="boolean" label="30002">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.latitude" type="integer" label="30003" >
          <default>8</default>
          <constraints>
            <minimum>4</minimum>
            <step>2</step>
            <maximum>32</maximum>
          </constraints>
          <control type="slider" format="integer"/>
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.longitude" type="integer" label="30004" >
          <default>16</default>
          <constraints>
            <minimum>4</minimum>
            <step>2</step>
            <maximum>32</maximum>
          </constraints>
          <control type="slider" format="integer"/>
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.thickness" type="integer" label="30005" >
          <default>50</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.smooth" type="boolean" label="30006">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.speed" type="integer" label="30007" >
          <default>10</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
        <setting id="advanced.density" type="integer" label="30008" >
          <default>25</default>
          <constraints>
            <minimum>5</minimum>
            <step>5</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
          <dependencies>
            <dependency type="visible" setting="general.type" operator="is">6</dependency>
          </dependencies>
        </setting>
      </group>
    </category>
  </section>
</settings>
