<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="screensaver.rsxs.flux">
    <category id="general" label="30000">
      <group id="1">
        <setting id="general.type" type="integer" label="30002">
          <default>1</default>
          <constraints>
            <options>
              <option label="30003">0</option>
              <option label="30004">1</option>
              <option label="30005">2</option>
              <option label="30006">3</option>
              <option label="30007">4</option>
              <option label="30008">5</option>
              <option label="30009">6</option>
              <option label="30010">-1</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
        </setting>
        <setting id="general.lastType" type="integer">
          <visible>false</visible>
          <level>0</level>
          <default>-2</default>
          <control type="slider" format="integer"/>
        </setting>
      </group>
    </category>
    <category id="advanced" label="30001">
      <group id="1">
        <setting id="advanced.fluxes" type="integer" label="30011">
          <default>1</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.particles" type="integer" label="30012">
          <default>20</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>1000</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.trail" type="integer" label="30013">
          <default>40</default>
          <constraints>
            <minimum>3</minimum>
            <step>1</step>
            <maximum>10000</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="general.type">-1</dependency>
          </dependencies>
          <control type="edit" format="integer">
            <heading>30026</heading>
          </control>
        </setting>
        <setting id="advanced.geometry" type="integer" label="30014">
          <default>2</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <options>
              <option label="30015">0</option>
              <option label="30016">1</option>
              <option label="30017">2</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
        </setting>
        <setting id="advanced.size" type="integer" label="30018">
          <default>15</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.complexity" type="integer" label="30019">
          <default>3</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.randomize" type="integer" label="30020">
          <default>0</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.expansion" type="integer" label="30021">
          <default>40</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.rotation" type="integer" label="30022">
          <default>30</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.wind" type="integer" label="30023">
          <default>20</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.instability" type="integer" label="30024">
          <default>20</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="advanced.blur" type="integer" label="30025">
          <default>0</default>
          <dependencies>
            <dependency type="enable" setting="general.type" operator="is">-1</dependency>
          </dependencies>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
