<settings>
  <setting id="fluxes" label="30000" type="slider" range="1,1,100" option="int" default="1"/>
  <setting id="particles" label="30001" type="slider" range="1,10,1000" option="int" default="20"/>
  <setting id="length" label="30002" type="slider" range="3,10,1000" option="int" default="40"/>
  <setting id="pgeom" label="30003" type="enum" lvalues="30004|30005|30006" default="30004"/>
  <setting id="complexity" label="30007" type="slider" range="1,1,10" option="int" default="3"/>
  <setting id="speed" label="30008" type="slider" range="0,1,100" option="int" default="40"/>
  <setting id="randomness" label="30009" type="slider" range="0,1,100" option="int" default="0"/>
  <setting id="rotation" label="30010" type="slider" range="0,1,100" option="int" default="30"/>
  <setting id="wind" label="30011" type="slider" range="0,1,100" option="int" default="20"/>
  <setting id="instability" label="30012" type="slider" range="1,1,100" option="int" default="20"/>
  <setting id="blur" label="30013" type="slider" range="0,1,100" option="int" default="0"/>
</settings>
