<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="screensaver.rsxs.fieldlines">
    <category id="general" label="30000">
      <group id="1">
        <setting id="ions" type="integer" label="30001" help="30002">
          <default>6</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>10</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="speed" type="integer" label="30003" help="30004">
          <default>10</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="seqsize" type="integer" label="30005" help="30006">
          <default>4</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="numlines" type="integer" label="30007" help="30008">
          <default>500</default>
          <constraints>
            <minimum>1</minimum>
            <step>10</step>
            <maximum>1000</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="width" type="integer" label="30009" help="30010">
          <default>30</default>
          <constraints>
            <minimum>1</minimum>
            <step>10</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer"/>
        </setting>
        <setting id="constant" type="boolean" label="30011" help="30012">
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="electric" type="boolean" label="30013" help="30014">
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="reduction" type="number" label="30015" help="30016">
          <default>3.0</default>
          <constraints>
            <minimum>1.0</minimum>
            <step>0.5</step>
            <maximum>10.0</maximum>
          </constraints>
          <control type="slider" format="number"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
