<settings>
  <setting id="rockets" label="30000" type="slider" range="1,1,100" option="int" default="8"/>
  <setting id="smoke" label="30001" type="slider" range="0,1,60" option="int" default="5"/>
  <setting id="esmoke" label="30002" type="slider" range="0,1,100" option="int" default="0"/>
  <setting id="moon" label="30003" type="bool" default="1"/>
  <setting id="clouds" label="30004" type="bool" default="1"/>
  <setting id="earth" label="30005" type="bool" default="1"/>
  <setting id="glow" label="30006" type="bool" default="1"/>
  <setting id="stars" label="30007" type="slider" range="0,1,100" option="int" default="20"/>
  <setting id="halo" label="30008" type="slider" range="0,1,100" option="int" default="20"/>
  <setting id="ambient" label="30009" type="slider" range="0,1,50" option="int" default="10"/>
  <setting id="wind" label="30010" type="slider" range="0,1,100" option="int" default="20"/>
  <setting id="flares" label="30011" type="slider" range="0,1,100" option="int" default="20"/>
</settings>
